/* this is a mess */
body {
  background-color: rgb(60, 60, 60);
  margin: 10px;
  padding: 10px;
}

header {
  background-color: rgb(86, 86, 86);
  border-radius: 30px;
  text-align: center;
  padding: 20px;
}

h1 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  word-spacing: 3px;
  text-align: center;
}

main {
  background-color: rgb(86, 86, 86);
  border-radius: 30px;
  color: white;
  line-height: 30px;
  word-spacing: 3px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
h2 {
  padding: 20px;
}

.dog1 {
  width: 200px;
  clip-path: circle(40%);
}

.dog-par {
  background-color: rgb(86, 86, 86);
  border-radius: 30px;
  color: white;
  line-height: 30px;
  word-spacing: 2px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.cat {
  width: 200px;
  clip-path: circle(40%);
  filter: invert();
  filter: blur(2px);
}
.cat2 {
  width: 200px;
  clip-path: circle(40%);
  filter: invert();
}

.cat-par {
  background-color: rgb(86, 86, 86);
  border-radius: 30px;
  color: white;
  line-height: 30px;
  word-spacing: 2px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: #333;
  border-radius: 30px;
}

li {
  float: left;
}
a {
  display: block;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
a:hover {
  background-color: #111;
  border-radius: 30px;
}
.active {
  background-color: #04aa6d;
  border-radius: 30px;
}
